  .navbar {
    background-color: rgba(131, 127, 109, 0.9);
  }
  
   .navbar-nav {
    flex-direction: row;
  }
  
  .nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    color: black;
  }

  body {
    background-image: url(../../Responsive_Portfolio/Images/cheesepaper.png);
    background-repeat: repeat;
  }
  
  /* Fixes dropdown menus placed on the right side */
  .ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
  }

  .container-fluid {
    font-family: 'Jost', sans-serif;
    padding: 50px;
  }


  .col-md-6 {
    text-align: center;
    padding: 30px;
  }

  .col-md-6 h3 {
    font-size: 50px;
    background-color: rgba(216, 205, 185, 0.9);
    color: rgb(250, 240, 225);
  }

  .col-md-6 p {
    font-size: 30px;
    background-color: rgb(2, 88, 88, .7);
    color: rgb(146, 128, 100);
  }

  .mb-4 {
    padding: 30px;
    font-family: 'Jost', sans-serif;
  }

  .mb-4 h2 {
    font-size: 50px;
  }

  .mb-4 p {
    font-size: 20px;
  }

  .image-fluid {
    padding: 50px;
  }

  .contact-info {

  }

  .btn {
    background-color: rgb(2, 88, 88, .9);
    padding: 20px;
    margin: 15px;
  }